SNOWGPT_Database_Inference filter=lfs diff=lfs merge=lfs -text
main_small.py filter=lfs diff=lfs merge=lfs -text
results filter=lfs diff=lfs merge=lfs -text
save_folder filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
config_quantization.yml filter=lfs diff=lfs merge=lfs -text
inference filter=lfs diff=lfs merge=lfs -text
main_large.py filter=lfs diff=lfs merge=lfs -text
setup.cfg filter=lfs diff=lfs merge=lfs -text
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
benchmark filter=lfs diff=lfs merge=lfs -text
config_chatgpt.yml filter=lfs diff=lfs merge=lfs -text
download_files filter=lfs diff=lfs merge=lfs -text
figures filter=lfs diff=lfs merge=lfs -text
main_quantization.py filter=lfs diff=lfs merge=lfs -text
quantization filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
config_benchmark.yml filter=lfs diff=lfs merge=lfs -text
config_large.yml filter=lfs diff=lfs merge=lfs -text
config_small.yml filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
rag_pipeline filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
